{% extends "cms/base.html" %}

{% block title %}書籍の一覧{% endblock title %}

{% block content %}
<h4 class="mt-4 border-bottom">書籍の一覧</h4>
<a href="{% url 'cms:book_add' %}" class="btn btn-primary my-3">追加</a>
<table class="table table-hover table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>書籍名</th>
      <th>出版社</th>
      <th>ページ数</th>
      <th>感想数</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for book in books %}
    <tr>
      <th scope="row">{{ book.id }}</th>
      <td>{{ book.name }}</td>
      <td>{{ book.publisher }}</td>
      <td>{{ book.page }}</td>
      <th>{{ book.impression_cnt }}</th>
      <td class="text-center">
        <a href="{% url 'cms:book_mod' book_id=book.id %}" class="btn btn-outline-primary">編集</a>
      </td>
      <td class="text-center">
        <a href="{% url 'cms:book_del' book_id=book.id %}" class="btn btn-outline-danger">削除</a>
      </td>
      <td class="text-center">
        <a href="{% url 'cms:impression_list' book_id=book.id %}" class="btn btn-outline-info">感想一覧</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}